.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}

.border-wrapper{
  width: 350px;
  height: 400px;

}

.layer{
  display: flex;
  width: 100%;
}
